* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

body {
	background-color: #de8a89;
	padding: 100px 300px;
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style: none;
	margin-right: 45px
}

header nav ul li:first-child a:first-child {
	color: white;
}

header nav ul li a {
	color: #ecb9b8;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: .2s;
}

header nav ul li a:hover {
	color: #eecac9;
}

header p {
	color: white;
	font-size: 13px;
	margin-top: 10px;
}

.conteiner {
	width: 700px;
	height: 250px;
	display: flex;
	margin-top: 40px;
	position: relative;
	box-shadow: 0 4px 10px 4px rgba(0, 0, 0, .2);
}

.conteiner .box {
	width: 33.3333%;
	height: 100%;
	padding: 120px 0 0 60px;
}

.conteiner .box:first-child {
	background-color: #3e3c3d;
}

.conteiner .box:nth-child(2) {
	background-color: #353334;
}

.conteiner .box:last-child {
	background-color: #201e1f;
}

.conteiner .box p {
	color: #c18d8c;
	font-size: 14px;
}

.conteiner .box p:last-child {
	color: white;
	font-size: 18px;
	margin-top: 6px;
}

.conteiner .box:nth-child(2)::before {
	content: "";
	border: 5px solid transparent;
	border-right: 5px solid #855352;
	position: absolute;
	left: -50px;
	top: 35px;
}

.conteiner .box:nth-child(2)::after {
	content: "";
	border: 5px solid transparent;	
	border-left: 5px solid #855352;
	position: absolute;
	right: -50px;
	top: 35px;
	z-index: 1;
}

.conteiner::before {
	content: "";
	width: 80px;
	height: 80px;
	background-color: #ecb9b8;
	position: absolute;
	transition: .3s;
	left: -80px;
}

.conteiner:hover::before {
	background-color: #eecac9;
	cursor: pointer;
}

.conteiner::after {
	content: "";
	width: 80px;
	height: 80px;
	background-color: #ecb9b8;
	position: absolute;
	transition: .3s;
	right: -80px;
}

.conteiner:hover::after {
	background-color: #eecac9;
	cursor: pointer;
}

.start {
	width: 200px;
	height: 50px;
	padding-top: 18px;
	text-align: center;
	border-radius: 4px;
	background-color: #131313;
	position: relative;
	top: -25px;
	left: 18px;
	transition: .2s;
}

.start:hover {
	top: -30px;
}

.start p {
	color: white;
	font-size: 12px;
	text-transform: uppercase;
}


.box:nth-child(1)::before {
	width: 200px;
	height: 30px;
	text-align: center;
	padding-top: 20px;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #131313;
	position: absolute;
	bottom: -25px;
	left: 14px;
}