* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

body {
	background-color: #de8a89;
	padding: 100px 300px;
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style: none;
	margin-right: 45px
}

header nav ul li:first-child a:first-child {
	color: white;
}

header nav ul li a {
	color: #ecb9b8;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

header p {
	color: white;
	font-size: 13px;
	margin-top: 10px;
}

.conteiner {
	width: 700px;
	height: 250px;
	display: flex;
	margin-top: 40px;
}

.conteiner .box {
	width: 33.3333%;
	height: 100%;
	padding: 120px 0 0 60px;
}

.conteiner .box:first-child {
	background-color: #3e3c3d;
}

.conteiner .box:nth-child(2) {
	background-color: #353334;
}

.conteiner .box:last-child {
	background-color: #201e1f;
}

.conteiner .box p {
	color: #c18d8c;
	font-size: 14px;
}

.conteiner .box p:last-child {
	color: white;
	font-size: 18px;
}



